@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #f5ffe8;
    --color-primary: #638c6d;
    --color-brown-light: #754e1a;
    --color-brown-dark: #211403;
  }

  body {
    color: var(--color-brown-dark);
    background: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
  }
}
