@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #eefcdb;
    --color-mobile-menu-background: #fbfcdb;
    --color-primary: #487a55;
    --color-brown-light: #754e1a;
    --color-brown-dark: #211403;
  }

  body {
    color: var(--color-brown-dark);
    background: var(--color-background);
  }
}
